/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-May-2020, 19:53:09
    Author     : User
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    background-attachment: fixed;
    font-family: serif;
    background-size: cover;
    background-position: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover {
    background-color: 	#ffffff;
    color: black;
}

.topnav a.active {
    background-color: #ffcc00;
    color: white;
}

.image {
    padding-left: 50px;
    width: 150px;
    height: 150px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  size: 20px;
  border: 2px coral;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}
h4{
    text-align: center;
    font-size: 15px;
}
a {
    padding: 20px 20px 20px;
}

ul {
  list-style-type: none;
  margin: 25px;
  padding: 20px;
  overflow: hidden;
  background-color: #ffffff;
}

li {
    display: inline;
}

.ui-priority-primary {
    background-color: #f2f2f2;
}

.ui-dock{
    background-color: blueviolet;
}
.ui-panel{
    background-color: beige;
}
.overlay {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}
.overlay-panel {
	position:absolute;
	display: flex;
	align-items: right;
	justify-content: right;
	flex-direction: column;
	padding: 150px 40px;
        text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}
.dockstyle{
   alignment-adjust: middle;
}
.container {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*#map {
	width: 100%;
	@include media-breakpoint-down(md) {
		height: 300px;
	}
} */
